<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #home {
            background-image: url('homeImage.jpg');
            background-size: cover;
            color: white;
            text-align: center;
            padding: 100px 0;
            height: 100vh;
    }
    </style>
</head>

<body>
    <header id="home" class="bg">
        <br><br>
        <h1>Welcome to Fitness Hub</h1><br>
        <p>Your ultimate destination for fitness and wellness</p><br>
        <a routerLink="/register" class="btn btn-success">Join Now</a>
    </header>
</body>
</html>